html, body {
  margin: 0;
  color: #fff;
  background: #282828;
  font-family: Verdana;
}

main {
  display:flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding-top: 0.3rem; padding-bottom: 0.3rem;
  width: 100%;
  text-align: center;
  background: #303030;
}

.intro {
  width: 100%;
  height: 60%;
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.title, .undertitle {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.title { font-size: 3.5rem; }
.undertitle { font-size: 2rem; }
.image_intro { border-radius: 100%; width: 10rem; }
/* Intro part is done here */

.content {
  margin-left: 2rem;
  margin-right: 2rem;
}
